<%= form_with model: @place do |form| %>
  <p>
    <%= form.label "name", "Place Name" %>
    <%= form.text_field "name" %>
  </p>

  <%= form.submit %>

  <p><a href="/places">Back to Places I've Been</a></p>
<% end %>