<h1><%= @place.name %></h1>

<ul>
  <% for post in @place.posts %>
    <li>
    <%= "#{post.last_name}, #{post.first_name}" %></li>
  <% end %>
</ul>

<p>
  <a href="/posts/new?place_id=<%= @place.id %>">New Post</a>
</p>

<p>
    <a href="/places">Back to Places I've Been</a>
</p>

